[Desktop Entry]
Name=CamServer
Comment=
Exec=lxterminal -e /home/pi/Desktop/security-hub/startup/cam-start.sh
Icon=lxterminal
Terminal=true
Type=Application